#Task 2: Feb Internship Logic Building Task

In [3]:
# input from user and converting in lowercase
sentence = input("Enter sentence: ").lower()
#Splitting sentence into words
words = sentence.split()
# Converting list to set to remove duplicates
unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: Python is simple and python is powerful
Unique words count: 5
Unique words: {'python', 'simple', 'powerful', 'is', 'and'}

In [4]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

max_salary = 0
highest_employee = ""

for name, salary in employees.items():
    if salary > max_salary:
        max_salary = salary
        highest_employee = name

print("Highest Salary:", highest_employee, "-", max_salary)

Highest Salary: Ravi - 75000

In [5]:
numbers = [45, 22, 89, 10, 66]

# Initialize with first element
max_value = numbers[0]
min_value = numbers[0]

# Traverse the list
for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num

print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [6]:
prices = [450, 1200, 899, 1500, 300]

count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

In [7]:
attendance = ["P", "P", "A", "P", "P"]

present_days = 0

for day in attendance:
    if day == "P":
        present_days += 1

percentage = (present_days / len(attendance)) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [8]:
phone_numbers = [9876543210, 9123456789, 9876543210]

# Convert list to set because set removes duplicate values
unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [9]:
# Store the string in a variable
text = "pythonp"

# Create an empty dictionary to store character frequencies
char_count = {}

# Loop through each character in the string
for char in text:

    # Update the dictionary:
    # If character exists → get its current value
    # If not → default value 0
    # Then add 1 to increase count
    char_count[char] = char_count.get(char, 0) + 1

# Print the final dictionary containing character frequencies
print(char_count)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [10]:
# Create a list
numbers = [10, 20, 30]

# Convert list to tuple
numbers_tuple = tuple(numbers)

# Display the tuple
print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

In [11]:
# Create a dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Key to check
key_to_check = "Ravi"

# Check if key exists
if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [12]:
# Create a list containing marks of different subjects
marks = [65, 75, 80, 70]

# Initialize a variable to store total marks
total = 0

# Loop through each mark in the list
for mark in marks:

    # Add each mark to total
    total += mark   # same as total = total + mark

# Calculate average
# Divide total marks by number of subjects
average = total / len(marks)

# Display the average marks
print("Average Marks:", average)

Average Marks: 72.5